In [1]:
#Load Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Load Dataset
dataset = pd.read_csv('./ResponseDataset.csv')
dataset.head()

   ID  Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
0   1          0         0   2  30.443518 -1.165083   1   1   3   2
1   3          1         1   3  32.159350 -0.645617   2   3   2   2
2   4          0         0   2  30.431659  0.133583   1   1   4   2
3   5          0         0   0  26.588914 -0.212728   2   1   4   2
4   8          1         0   3  28.044332 -0.385883   1   1   2   2

In [3]:
#Drop User ID and Gender
dataset2=dataset.drop('ID', axis=1)
dataset2.head()

   Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
0          0         0   2  30.443518 -1.165083   1   1   3   2
1          1         1   3  32.159350 -0.645617   2   3   2   2
2          0         0   2  30.431659  0.133583   1   1   4   2
3          0         0   0  26.588914 -0.212728   2   1   4   2
4          1         0   3  28.044332 -0.385883   1   1   2   2

In [4]:
#Assigned a label of 1 if Purchased with a Promotion, if not label of 0

response = []

for index, row in dataset2.iterrows():
    if (row['purchase'] == 1) and (row['Promotion']==1):
        response.append(1.0)
    else:
        response.append(0.0)
        
#Append Response Column
dataset2['response'] = response
dataset2.head()

   Promotion  purchase  V1         V2        V3  V4  V5  V6  V7  response
0          0         0   2  30.443518 -1.165083   1   1   3   2       0.0
1          1         1   3  32.159350 -0.645617   2   3   2   2       1.0
2          0         0   2  30.431659  0.133583   1   1   4   2       0.0
3          0         0   0  26.588914 -0.212728   2   1   4   2       0.0
4          1         0   3  28.044332 -0.385883   1   1   2   2       0.0

In [5]:
#Create x and y variables
x = dataset2.drop('response', axis=1).values
y = dataset2['response'].values

#Load library for Training Datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, stratify=y, random_state = 100)

#Load library for scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [6]:
#Search for an optimal value of K for KNN
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

k_range = range(1, 31)
k_scores = []

for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    #obtain cross_val_score for KNeighborsClassifier with k neighbours
    scores = cross_val_score(knn, X_train, y_train, cv=10, scoring='accuracy')
    #append mean of scores for k neighbors to k_scores list
    k_scores.append(scores.mean())
    
#Print Best Score
BestScore = [1 - x for x in k_scores]
best_k = k_range[BestScore.index(min(BestScore))]
print('Optimal Number of Neighbors: {}'.format(best_k))

Optimal Number of Neighbors: 1

In [7]:
#Create Optimal KNN model
classifier = KNeighborsClassifier(n_neighbors = best_k)

#Fit KNN Model
classifier.fit(X_train, y_train)

#Prediction
y_pred = classifier.predict(X_test)

#Evaluate the Algorithm
from sklearn.metrics import classification_report, confusion_matrix  
target_names=['Everyone Else','Purchase and Promo']
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred,target_names=target_names))

[[21  0]
 [ 1  6]]
                    precision    recall  f1-score   support

     Everyone Else       0.95      1.00      0.98        21
Purchase and Promo       1.00      0.86      0.92         7

          accuracy                           0.96        28
         macro avg       0.98      0.93      0.95        28
      weighted avg       0.97      0.96      0.96        28