In [1]:
#Load Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Load Dataset
dataset = pd.read_csv('./gas_consumption.csv')  
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_license(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
#Show Key Statistics
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_license(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [4]:
#Indentifying X and y
x = dataset.drop('Petrol_Consumption',axis=1).values
y = dataset['Petrol_Consumption'].values

#Load Library for Training Dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

#Scale the Data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train2 = sc.fit_transform(x_train)
x_test2 = sc.fit_transform(x_test)

In [5]:
#Script for Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn import metrics  
from sklearn.metrics import r2_score

for name,method in [('Linear Regression', LinearRegression())]: 
    method.fit(x_train2,y_train)
    predict = method.predict(x_test2)

print('Method: {}'.format(name))   

#Coefficents
print('\nIntercept: {:0.2f}'.format(float(method.intercept_)))
coeff_table=pd.DataFrame(np.transpose(method.coef_),
                         dataset.drop('Petrol_Consumption',axis=1).columns,columns=['Coefficients'])
print('\n')
print(coeff_table)
    
#MAE,MSE and RMSE
print('\nR2: {:0.2f}'.format(r2_score(y_test, predict)))
print('Mean Absolute Error: {:0.2f}'.format(metrics.mean_absolute_error(y_test, predict)))  
print('Mean Squared Error: {:0.2f}'.format(metrics.mean_squared_error(y_test, predict)))  
print('Root Mean Squared Error: {:0.2f}'.format(np.sqrt(metrics.mean_squared_error(y_test, predict))))

Method: Linear Regression

Intercept: 577.03


                              Coefficients
Petrol_tax                      -35.253208
Average_income                  -39.160070
Paved_Highways                   -8.172297
Population_Driver_license(%)     65.618316

R2: 0.79
Mean Absolute Error: 47.15
Mean Squared Error: 3519.24
Root Mean Squared Error: 59.32

In [6]:
#Forecast Table
predict2 = predict.reshape(-1)
diff = predict2-y_test
FcstTble=pd.DataFrame({'Actual':y_test,'Predicted':predict2.round(2),'Difference':diff.round(2)})
print('\nForecast Table')
FcstTble.head()

Forecast Table

   Actual  Predicted  Difference
0     344     377.50       33.50
1     574     559.31      -14.69
2     577     627.35       50.35
3     577     582.59        5.59
4     699     630.37      -68.63